<main class = "container">
  <div class = "p-4 p-md-5 md-4 text-white bg-dark h-75 w-100 d-inline-block">
    <h1 class = "text-center">
      <font face = "F66筆みょうほん">About</font>
    </h1>
  </div>
  <div class = "p-4 p-md-5 md-4 text-center">
    <%= image_tag "pexels-daria-shevtsova-1070896.jpg" , class:"img-fluid", size: "100x50" %>
  </div>
</main>
