<main class = "container">
  <div class = "p-4 p-md-5 md-4 text-white bg-dark h-75 w-100 d-inline-block">
    <h1 class = "text-center">
      <font face = "F66筆みょうほん">About</font>
    </h1>
  </div>
  <div class = "p-4 p-md-5 md-4 text-center ">
   <h3>ながのCAKEは全国発送可能なケーキ屋さんです。
   お子様からお年寄りの方までお召し上がれるように、
   様々なバリデーションをご用意しています。
   また、全国へ発送可能ですので『いつ』でも『どこ』でもご注文いただけます。
   ぜひご注文ください。
   </h3>
    <%= image_tag "IMG_4538.jpeg" , class:"img-fluid", size: "400x250" %>
    <%= image_tag "IMG_4536.JPG" , class:"img-fluid", size: "400x250" %>
    <%= image_tag "IMG_4537.JPG" , class:"img-fluid", size: "400x250" %>
    <%= image_tag "IMG_4539.JPG" , class:"img-fluid", size: "400x250" %>
  </div>
</main>
