<footer>
  <div class="container">
    <div class="small text-center text-muted" style="margin: 50px 0;background-color: white; font-family: HiraMinPro-W6; color: #000000;">
      Copyright © 2021  Four_Glasses
    </div>
  </div>
</footer>